{% extends 'base.html' %}

{% block content %}

<div class="container">
    <section class="service_details text-center mt-5">
        <header class="mb-5">
            <h2>تفاصيل طلب خدمة: {{details}} &hearts;</h2>
        </header>
        <article class="service card mb-3">
            <div class="row no-gutters">
                <figure class="col-md-5">
                    <img src="{{details.service_image.url}}" alt="{{details}}" title={{details}}>
                </figure>
                <article class="col-md-7 pb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{details.service_name}}</h5>
                        <p class="card-text">{{details.service_description}}</p>
                        <p class="card-text">R.S {{details.service_price}}</p>
                        <p class="card-text">{{details.service_category.category_name}}</p>
                    </div>
                    <footer class="">
                        <form method="POST">
                            {% csrf_token %}
                            {{add_order.as_p}}
                            <input class="btn btn-primary" type="submit" value="طلب الخدمة">
                        </form>
                    </footer>
                </article>
            </div>
        </article>
    </section>
</div>
{% endblock content %}