{% extends "base.html" %}

{% block content %}
<div class="container">
    <section class="text-center mt-5 passsword-change">
        <header class="mb-5">
            <h2>تغيير كلمة المرور <i class="fas fa-unlock"></i></h2>
        </header>
        <article class="text-center my-3 passch-form mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group password-rules">
                    {{form.as_p}}
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="تغيير كلمة المرور">
            </form>
        </article>
    </section>
</div>
{% endblock %}