{% extends "base.html" %}

{% block content %}
<div class="container text-center">

    {% if validlink %}
    <section class="text-center mt-5 passsword-reset">
        <header class="mb-5">
            <h2>
                فضلاً أدخل كلمة المرور الجديدة وقم بتأكيدها
                <i class="fas fa-unlock"></i>
            </h2>
        </header>

        <article class="text-center my-3 passrscon-form mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group mb-3 reset-confirm-input">
                    <div class="input-group-prepend">
                        <label class="input-group-text" class="input-group-text"
                            for="{{form.new_password1.id_for_label}}">
                            كلمة المرور الجديدة
                        </label>
                    </div>
                    {{form.new_password1}}
                </div>
                <!-- {{ form.new_password1.errors }} -->
                <!-- <label for="id_new_password1">كلمة المرور:</label> -->
                <div class="input-group mb-3 reset-confirm-input">
                    <div class="input-group-prepend">
                        <label class="input-group-text" class="input-group-text"
                            for="{{form.new_password2.id_for_label}}">
                            تأكيد كلمة المرور
                        </label>
                    </div>
                    {{ form.new_password2 }}
                </div>
                {{ form.new_password1.conditions }}
                {{ form.new_password2.errors }}
                <!-- <label for="id_new_password2">تأكيد كلمة المرور:</label>
            {{ form.new_password2 }} -->

                <input type="submit" class="btn btn-primary btn-block" value="تغيير كلمة المرور" />
            </form>
        </article>
    </section>
    {% else %}
    <h1>لا يمكن استعادة كلمة المرور</h1>
    <p> رابط استعادة كلمةالمرور غير صحيح، ربما تم استخدامه من قبل. <br>
        <a href="{% url 'password_reset_confirm' %}"></a> فضلاً قم بطلب إعادة تعيين كلمة المرور مرة أخرى.
    </p>
    {% endif %}
</div>
{% endblock %}