{% extends "base.html" %}

{% block content %}
<center>
    <div>
        <div>
            <h2>Service Info</h2>
            <p> <b>Category:</b> {{service.service_category}}</p>
            <p> <b>Serice:</b> {{service}}</p>
            <p> <b>Description:</b> {{service.service_description}}</p>
            <p> <b>Price:</b> R.S {{service.service_price}}</p>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{add_order}}
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</center>
{% endblock %}