{% extends 'base.html' %}

{% block content %}
<div class="container">
    <section class="category_details mt-5 text-center">
        <header class="mb-5">
            <h2>خدمات قسم <span>{{details}}</span></h2>
        </header>

        <article class="row row-cols-1 row-cols-lg-2">
            {% for service in services %}
            <div class="col mb-4">
                <div class="card p-5 h-100">
                    <div class="overlay"></div>
                    <a href="{% url 'services:service_details' service.service_slug %}" class="btn btn-primary">طلب هذه
                        الخدمة</a>
                    <figure>
                        <img height="300" src="{{service.service_image.url}}" alt="{{service}}" class="card-img-top"
                            title="{{service}}">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">{{service}}</h5>
                        <p class="card-text">{{service.service_description}}</p>
                        <span class="badge price-tag"><small>R.S </small>{{service.service_price}}</span>

                    </div>
                </div>
            </div>
            {% endfor %}
        </article>
    </section>
</div>
{% endblock %}